- if @reports.count > 0
  - if params[:commit].present? && params[:commit] == "Search"
    共 #{@reports.total_count / @distinct_date.count} 筆資料
  - else
    在 #{@reports.current_page} / #{@reports.total_pages} 頁中，
    顯示共 #{@reports.total_count} 筆資料中的，
    第 #{@reports.offset_value + 1} 到 #{@reports.offset_value + @reports.length} 筆資料
- else
  沒有資料