%tbody
  - @files.each do |file|
    // Get substring from file_name
    - if file.file_name.to_s.include? "TWSE-"
      - strip_str = "TWSE"
    - elsif file.file_name.to_s.include? "MI-INDEX-"
      - strip_str = "MI-INDEX"
    - else
      - strip_str = "BFIAMU"

    %tr{"data-status" => "#{strip_str}", id: "file_row_#{file.id}"}
      %td{:style => "width: 4.1%; vertical-align: middle;"}
        .ckbox
          = check_box_tag "file_ids[]", file.id, false, id: "file_ids_#{file.id}"
          %label{:for => "file_ids_#{file.id}"}
      %td{:style => "width: 68%; vertical-align: middle;"}
        .media
          - if strip_str.eql? 'TWSE'
            - color = 'primary'
          - elsif strip_str.eql? 'MI-INDEX'
            - color = 'danger'
          -elsif strip_str.eql? 'BFIAMU'
            - color = 'info'
          %span.label.pull-right{:style => "vertical-align: middle;", :class => "label-#{color}"}
            = strip_str
          .media-body
            %p.summary
              %strong
                =file.file_name
            %small
              包含
              - if strip_str.eql? 'TWSE'
                = file.total_row.to_i - 1
              - elsif strip_str.eql? 'MI-INDEX'
                = file.total_row.to_i - 7
              - else
                = file.total_row.to_i - 4
              筆資料
      %td{:style => "width: 30%;"}
        %span.media-meta= file.created_at.to_date.to_formatted_s(:long)
        %span#delete-file.pull-right.dont_show
          %a#delete-yield-file{"data-build-id" => "#{file.post.slug}", "data-file-id" => "#{file.id}", :href => "#"}
            %button.btn.btn-xs.btn-danger.glyphicon.glyphicon-trash.row-remove{"data-toggle" => "tooltip", :title => "刪除"}